<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new student</title>
</head>
<body>
    <form action="/students" method="POST">
        <label for="id">ID : </label>
        <input type="number" id="id" name="id">
        <br>
        <br>
        <label for="name">NAME : </label>
        <input type="text" id="name" name="name">
        <br>
        <br>
        <label for="email">EMAIL : </label>
        <input type="email" id="email" name="email">
        <br>
        <br>
        <label for="dept">DEPARTMENT : </label>
        <input type="text" id="dept" name="department">
        <br>
        <br>
        <label for="sem">SEMESTER : </label>
        <input type="number" id="sem" name="semester">
        <br>
        <br>
        <label for="ph">PHONE NO : </label>
        <input type="text" id="ph" name="phone">
        <br>
        <br>
        <button type="submit">Add</button>
    </form>
</body>
</html>