<% layout("/layouts/boilerplate") %>
<h4>Courses</h4>
<br>
<br>
<ul>    
    <li>Electronics and Communication Engineering</li>
    <li>Information and Science Engineering</li>
    <li>Mechatronics Engineering</li>
    <li>Artificial Intelligence and Machine Learning</li>
    <li>Computer science and Engineering</li>
    <li>Biotechnology</li>
    <li>Civil Engineering</li>
    <li>Mechanical Engineering</li>
</ul>


