<% layout("/layouts/boilerplate") %>
<ul>
<li><a href="#">Edit profile</a></li>
<br>
<li><a href="#">Set to dark mode</a></li>
<br>
<li><a href="#">Change password</a></li>
<br>
<li><a href="#">Language</a></li>
<br>
<li><a href="#">Notifications</a></li>
<br>
<li><a href="#">Log out</a></li>
<br>
</ul>


